{{$dateStr := .toDate}}
{{$timestampStr := .toTimestamp}}
<html>
  <head>
	<title>帐套 {{.accountName}}</title>
  </head>
  <body>
	<table width="100%">
	  <tr>
		<th>SEQ</th>
		<th>类型1</th>
		<th>金额</th>
		<th>日期</th>
		<th>update</th>
	  </tr>
	  {{range .data}}
	  <tr>
		<td>{{.Seq}}</td>
		<td>{{.Type}}</td>
		<td>{{.Amount}}</td>
		<td>{{call $dateStr .When}}</td>
		<td>{{call $timestampStr .Update}}</td>
	  </tr>
	  {{end}}
		  
	</table>
  </body>
</html>
