<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    div:hover{
        background-color: rgb(157, 236, 183);
    }
    body{
        background-color: azure;
    }
    td{
        background-color: beige;
    }
</style>
<script>
    function pageInit() {
        console.log(this)
        //document.getElementsByTagName("title")[0].innerText = ""

    }

</script>

<head>
    <title>用户登录</title>
</head>

<body onload="pageInit()">
    <div id="msg"></div>
    <form action="." method="post">
    <input name="ACTION" value="LOGIN" type="hidden"/>
    <table>
        <tr>
            <td>User</td><td><input name="user"/></td>
        </tr>
        <tr>
            <td>password</td><td><input type="password" name="pwd"/></td>
        </tr>
        <tr><td colspan="2" align="center"><input type="submit" /></td></tr>
    </table>
    </form>
</body>

</html>